<!doctype html>
<html>
    <head>
        <title>Bluedata Auth</title>
        <script type="text/js" src="http://localhost/cbt_api/other4delete/jquery.min.js" ></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>