<!doctype html>
<html>
    <head>
        <title>Bluedata</title>
        <script type="text/js" src="http://localhost/cbt_api/other4delete/jquery.min.js" ></script>
        {{{_sections.head}}}

    </head>
    <body>
        {{{body}}}
        {{{_sections.jquery}}}

    </body>
</html>
