<h1>Signin</h1>

<div>
    <form class="newsletterForm" action="" method="post">
        Email: <input type="text" name="email" />
        Password: <input type="text" name="password" />
        <input type="submit" />
    </form>
</div>
